name: CI

on:
  push:
    branches: [master]
  # To be able to trigger a rebuild manually by (un)assigning someone
  # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#pull_request
  pull_request:
    types: [opened, reopened, synchronize, assigned, unassigned]

jobs:
  nix-check:
    name: Run nix flake check & nix fmt
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Install magic nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Show Nix version
        run: nix --version

      - run: df -h
      - name: free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune -a
      - run: df -h

      - name: Run nix flake check
        run: nix flake check --print-build-logs --show-trace

      - name: Check formatting with nix fmt
        run: |
          nix fmt -- --ci
